<div class="skills-container">
  <p class="skills-container__title">my skills</p>
  <ul class="skills-container__list">
    <li class="skills-container__list_item">ReactJS & Angular 2+</li>
    <li class="skills-container__list_item">JavaScript/TypeScript</li>
    <li class="skills-container__list_item">RxJS</li>
    <li class="skills-container__list_item">Redux</li>
    <li class="skills-container__list_item">Django</li>
    <li class="skills-container__list_item">NestJS</li>
  </ul>
  <div class="skills-container__icon-area icon-container" style="background-image: url(/assets/img/skill_icon.svg)"></div>
</div>
