<div class="footer-container">
  <div class="footer-container__icon-area icon-container" style="background-image: url(/assets/img/footer_icon.svg)"></div>
  <div class="footer-container__social-links">
    <a href="mailto:sergeyukhanov.dev@gmail.com" class="footer-container__email ">sergeyukhanov.dev@gmail.com</a>
    <div class="footer-container__chats-area">
      <a href="https://t.me/SergeyUkhanov" target="_blank">Telegram</a> /
      <a href="https://www.instagram.com/sergeyukhanov_/" target="_blank">Instagram</a>
    </div>
  </div>
</div>
