.footer-container {

}

.footer-container__icon-area {
  margin-bottom: 80px;
  &::before {
    background: #2a2a2c;
    bottom: auto;
    top: 100%;
    margin-top: 20px;
    content: '';
    display: block;
    height: 60px;
    width: 2px;
    position: absolute;
    left: 50%;
  }
}

.footer-container__email {
  font: 500 36px/64px 'Work Sans', 'Helvetica', sans-serif;
  color: #2a2a2c;
}

.footer-container__chats-area {
  font: 300 16px/30px 'Work Sans', 'Helvetica', sans-serif;
  color: #9b9ba4;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .footer-container__email {
    font-size: 18px;
  }

  .footer-container__icon-area {
    margin-bottom: 60px;
    width: 40px;
    height: 40px;

    &::before {
      height: 40px;
    }
  }
}
