<div #menuEl class="header-container" [class.displayed]="openedMenu" [class.header-container--animation-start]="animationInitStart">
  <div class="header-container__logo"></div>
  <p class="header-container__capture smallLinkText greyColor">
    The design work of
    <a href="mailto:sergeyukhanov.dev@gmail.com" class="smallLinkText">sergeyukhanov.dev@gmail.com</a>
  </p>
  <div class="header-container__main-nav main-nav">
    <div class="main-nav__outer">
      <div class="main-nav__inner">
        <div class="main-nav__menu-list">
          <p
            *ngFor="let item of menuData; let i = index"
            (mouseenter)="hoverCurrentPicture(i)"
            (mouseleave)="leaveCurrentPicture(i)"
            class="main-nav__item p1 greyColor"
            routerLink="{{item.routerLink}}"
            routerLinkActive="active-link"
            (click)="toggleMenu()"
          >
            {{item.title}}
          </p>
        </div>

        <div class="main-nav__menu-photo">
          <div *ngFor="let picture of picturesData" class="main-nav__picture-area" [class.active]="currentLocation() === picture.active" [ngStyle]="{'background-image': 'url(/assets/img/' + picture.image + ')'}"></div>
        </div>
      </div>
    </div>

    <div class="header-container__social-links soccial-links">
      <a href="mailto:sergeyukhanov.dev@gmail.com" class="social-links__email ">sergeyukhanov.dev@gmail.com</a>
      <div class="social-links__chats-area">
        <a href="https://t.me/SergeyUkhanov" target="_blank">Telegram</a> /
        <a href="https://www.instagram.com/sergeyukhanov_/" target="_blank">Instagram</a>
      </div>
    </div>

    <div (click)="toggleMenu()" class="header-container__nav-button" [class.actionButton]="openedMenu">
      <span></span>
      <span></span>
    </div>
  </div>
</div>
