<div class="position-container">
  <p class="position-container__quote">
    Я всегда готов к новым вызовам, к плодотворному сотрудничеству
    с людьми и компаниями для достижения общих идей и целей
  </p>
  <p class="position-container__description descriptionText">
    Мое видение отличного продукта сочетает в себе <span>ориентированный</span> на
    пользователя подход с удобными и интуитивно понятными интерфейсами.
    Имея опыт работы в качестве старшего веб-разработчика, и в то же
    время тесно взаимодействуя с другими командами, я могу быстро
    адаптироваться к новым вызовам. Будучи довольно практичным, мне
    нравится принимать участие во всем процессе, начиная от идей и
    составления прототипа продукта, до проектирования, разработки и
    реализации <span>поставленных</span> целей.
  </p>
  <div class="position-container__line"></div>
</div>
