<div class="start-banner-container start-banner-container--hidden" [class.start-banner-container--show]="showedContainer">
  <div class="start-banner-container__photo" style="background-image: url(/assets/img/photo2.jpg)"></div>
  <div class="start-banner-container__title">
    Я фронтенд-разработчик со знаниями дизайна и бэкенда, проживающий в Москве.
  </div>
  <div class="start-banner-container__fixed-position">
    <div class="start-banner-container__contact-area">
      <app-main-link></app-main-link>
    </div>
    <div (click)="triggerClick()" class="start-banner-container__link-area link-area">
      <p class="link-area__title">about me</p>
      <div class="link-area__icon" style="background-image: url(/assets/img/arrow_dark_blue.svg)"></div>
    </div>
  </div>
</div>
