.main-link-container {

}

.main-link-container__desc {
  font-size: 18px;
  color: #4b32f0;
  display: block;
  margin-bottom: 3px;
}

.main-link-container__email {
  font-size: 22px;
}

@media (max-width: 768px) {
  .main-link-container__desc {
    font-size: 14px;
  }

  .main-link-container__email {
    font-size: 18px;
  }
}
