<div class="about-container">
  <p class="about-container__description descriptionText">Меня зовут Сергей Уханов.
    Я <span>frontend</span>-разработчик с опытом работы более 4 лет.
    Свою карьеру в разработке начал в 2015 году, пройдя путь от
    верстки простых статичных веб-страниц до разработки сложных интерфейсов.
    За время работы, удалось поработать над продуктом по управлению
    торговыми представителями для ряда крупных компаний; в стартапе,
    направленном на развитие навыков сотрудников;
    а так же с множеством разномасштабных <span>e-commerce</span> проектов.
  </p>
  <div class="about-container__contact-me">
    <app-main-link></app-main-link>
  </div>
  <div class="about-container__line"></div>
</div>
