<div class="index-container">

  <section id="start-banner" class="index-container__start-banner hidden standartPadding">
    <app-start-banner
      [showedContainer]="showStartBanner"
      (aboutClick)="showMoreClick()"
    ></app-start-banner>
  </section>

  <div id="about-trigger" class="spacer"></div>

  <section id="about-container" class="index-container__about-container hidden standartPadding">
    <app-about-container></app-about-container>
  </section>

  <div id="skills-trigger" class="spacer"></div>

  <section id="skills-container" class="index-container__skills-container hidden">
    <app-skills-container></app-skills-container>
  </section>

  <div id="position-trigger" class="spacer"></div>

  <section id="position-container" class="index-container__position-container hidden standartPadding">
    <app-position-container></app-position-container>
  </section>

  <!--<div id="footer-trigger" class="spacer"></div>-->

  <section id="footer-container" class="index-container__footer-container standartPadding">
    <app-footer></app-footer>
  </section>

</div>
